/*Globales*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}
/*menu*/
#menu a
{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
#menu button
{
    font-size: 18px;
    font-weight: bold;
}
/*imagen slider*/
.carousel-inner
{
    max-height: 39rem;
}
/*intro*/
@media (max-width:768px) {

    #intro{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}